{% extends "base.html" %}

{% block content %}

                <div class="row">

                    <div class="col-lg-3 col-md-6">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-clock-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ outstandinginvoices.count() }}</div>
                                        <div>Outstanding Invoices</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('main.outstanding_invoices') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Total: ${{ "{0:0.2f}".format(outstanding) }}</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-flag-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ overdueinvoices.count() }}</div>
                                        <div>Overdue Invoices</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('main.overdue_invoices') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Total: ${{ "{0:0.2f}".format(overdue) }}</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ paidinvoices.count() }}</div>
                                        <div>Paid Invoices (last 30 days)</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('main.invoices') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Total: ${{ "{0:0.2f}".format(paid) }}</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

{% endblock %}
